# eclipse
bin
*.launch
.metadata
.classpath
.project
/.settings

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

#JVM
hs_err_pid*.log

#Run
/dev
/run
/backups
/.archive
# secrets
**.secret

#ModLauncher
logs/*

#Built Jar
ExciteBot*.jar
